:root{
    --base-col1:#FF4081;
    --base-col2:#FFF1F5;

    // font-size
    --fontSizes-10: 1rem;
    --fontSizes-12: 1.2rem;
    --fontSizes-13: 1.3rem;
    --fontSizes-14: 1.4rem;
    --fontSizes-16: 1.6rem;
    --fontSizes-18: 1.8rem;
    --fontSizes-20: 2rem;

}